{% extends 'base.html.twig' %}

{% block title %}Parkit - Politique de confidentialité et de cookie{% endblock %}

{% block body %}

<div class="container p-4">
    <div class="card shadow lg">
    <div class="p-4">
            <h1>Politique de confidentialité</h1>

            <hr>

            <b>1. L'utilisation de cookies</b>

            <p>Notre site internet Park-It utilise des cookies. Un cookie est un petit fichier qui est envoyer avec des pages de ce site Web et/ou les applications Flash et qui est stocké par votre navigateur sur votre disque dur à partir de votre ordinateur, téléphone portable, montre connectée ou tablette. Les informations qui y sont stockées peuvent êtres retournées à nos serveurs lors d'une visite ultiérieur.</p>

            <b>2. Consentement</b>

            <p>Votre consentement est requis pour l'utilisation de certains cookies. Nous le recueillons au moyen d'une bannière informative.</p>

            <b>3. Le type de cookies utilisés et leurs objectifs</b>

            <p>Nous utilisons les cookies suivants</p>
            <ul>
            <li>Cookies fonctionnels : ils nous permettent d'améliorer le fonctionnement du site internet et de le rendre plus convivial pour le visiteur. Par exemple nous stockons vos données de connexion.</li>
            <li>Cookies d'amélioration du site : ils permettent de tester différentes versions d'une pages internet afin de savoir quelle page est mieux utilisée.</li>
            </ul>

            <b>4. Vos droits à légard de vos données personnelles</b>
            <p>Vous disposez d'un droit d'accès, de rectification, de limitation et de suppression de vos données personnelles. En outre, vous avez le droit de vous opposer au traittement des données personnelles et le droit à la transférabilité de vos données. Vous pouvez exercer ces droits en nous envoyant un mail à l'adresse suivante : contact@parkit.fr</p>

            <b>5. Blocage et suppression des cookies</b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum ratione neque, veritatis consectetur dolores quae quos sunt quam nisi, magnam sapiente architecto! Deserunt voluptas tempora ad! Temporibus, ut omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde placeat eos aut obcaecati animi, sit odio, reprehenderit minus voluptatum sint rem nostrum culpa fugiat sapiente nam corrupti eius deserunt cumque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quaerat ipsum autem reprehenderit at optio repellendus itaque blanditiis, quas vero fugit! Et esse eligendi neque? Omnis, labore. Quam, non necessitatibus.</p>

            <b>6. Nouveaux développements et cookies non prévus</b>
            <p>Sur certaines de nos pages, nous pouvons utiliser du contenu qui est hébergé sur d'autres sites et qui est rendu accessible sur notre site internet au moyen de certains codes (contenu intégré). Ces codes utilisent souvent des cookies. Nous n'avons cependant aucun contrôle sur ce que ces tiers font de leurs cookies.
            <br>
            Il est également possible que, par l'intermédiaire de notre site internet, des cookies soient placés par d'autres personnes. Vous avez trouvé sur notre site internet des cookies que nous n'avons pas identifiés ? Veuillez nous le faire savoir par mail. Vous pouvez également contacter directement le tiers et lui demander quels cookiesil place, quelle en est al raison, quelle est la durée de vie du cookie et quelles sont les mesures pour protéger votre vie privée.</p>

            <b>7. Remarques</b>
            <p>Nous devrons mettre à jour cette politique d'utilisation des cookies régulièrement par exemple lorsque nous modifions notre site Web ou les règles le concernant. Nous vous prions de consulter cette pages pour prendre connaissance de la dernière version de notre politique d'utilisation des cookies.
            <br>
            Si vous avez des questions et/ou des commentaires, veuillez nous contacter à l'adresse e-mail suivante : contact@parkit.fr</p>

        </div>
    </div>
</div>

{% endblock %}