{% extends 'base.html.twig' %}

{% block title %}Parkit - Accueil
{% endblock %}

{% block body %}

	<section class="hero shadow-lg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 mt-5">
					<div class="d-flex flex-column justify-content-center align-items-center m-5">
						<h1>Park-It</h1>
						<h2 class="mt-2">Garez vous facilement !</h2>

						<a href="{{ path('user_new') }}" class="btn-custom d-flex justify-content-center align-items-center mt-5 p-3">Abonnez-vous</a>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container p-2">
		<div class="row p-4 text-center">
			<div class="col">
				<img src="images/easy-use.png" class="brand-value mb-4" alt="">
				<h6>Facile à utiliser</h6>
			</div>
			<div class="col">
				<img src="images/circular-arrows.png" class="brand-value mb-4" alt="">
				<h6>Automatique</h6>
			</div>
			<div class="col">
				<img src="images/shield.png" class="brand-value mb-4" alt="">
				<h6>Sécurisé</h6>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="text-center">
			<h3>Park-It Easy !</h3>
		</div>
		<div class="card shadow mx-4 mb-4 p-4 d-flex justify-content-center align-items-end">
			<div class="text-left">
				<p>
					Park-It est en partenariat avec l’agglomération de Montpellier, permettant un accés facile et automatique à tous les parkings public en toute sécurité !
					Nous développons actuellement la V2 du téléparking en région
					Occitanie dans le cadre d’un partenariat technologique. L’agglomération de Nantes s’est déjà positionnée pour l’installation de Park-It sur son territoire.
				</p>
				<p>
					Vous en avez marre de passer par la borne de paiement avant de sortir du parking ? Simplifiez-vous la vie avec l’abonnement Park-It : vous recevrez un badge pour entrer et sortir simplement. En plus vous ferrez des économies sur vos frais de stationnement avec notre tarification préférentielle et les prélèvements mensuels automatiques.</p>
			</div>
			<a href="{{ path('tarif') }}" class="btn-custom d-flex justify-content-center align-items-center p-3">En savoir plus</a>

		</div>
	</div>

{% endblock %}
