{% extends 'base.html.twig' %}

{% block title %}Nouveau compte client{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h1 class="card-title font-weight-bold text-primary">
            Création d'un compte client
        </h1>
        {% for error in app.flashes('error') %}
        <h2>{{ error }}</h2>
        {% endfor %}
    </div>
    <div class="card-body">
        {{form(form_user)}}
    </div>
</div>
{% endblock %}