{% extends 'base.html.twig' %}

{% block title %}Parkit - Tarifs
{% endblock %}

{% block body %}
	<div class="container p-5">
		<div
			class="row">

			{# Col infos abonnement #}
			<div
				class="col-lg-8 col-sm-12 mb-4">

				{# Card Espace client #}
				<div class="card shadow-lg">

					<div class="card-header p-4">
						<h1 class="h4 card-title font-weight-bold text-primary">
							L'abonnement Park-It
						</h1>
					</div>

					<div class="card-body p-4">
						<h2 class="h4 mb-4 text-center">Un tarif unique pour toute la ville !</h2>

						<p>Economisez et profitez d’un tarif unique sur toute la ville plus un paiement simplifié et automatisé.</p>
						<p>Plus besoin de penser au paiement, gagnez du temps à la sortie des parking avec notre badge pratique de TagMaster.</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing. Lorem, ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit. Ullam, eos.</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing. Lorem, ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit. Ullam, eos.</p>
						<a href="{{ path('user_new') }}" class="btn btn-lg btn-primary mt-3">Abonnez-vous</a>

					</div>
					{# picto - facile #}
					<div class="row p-4 text-center">
						<div class="col">
							<h2 class="h4 mb-4">Garez-vous facilement</h2>
							<img src="images/easy-use.png" class="brand-value mb-4" alt="">
							<h6 class="mb-4">Facile à utiliser</h6>
						</div>

						<div>

							<p>Inscrivez-vous et recevez votre badge sous 48 heures en livraison express !</p>

							<p>Avec l'abonnement profitez d'une facturation mensuelle.
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing. Lorem, ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit. Ullam, eos.</p>
							<a href="{{ path('user_new') }}" class="btn btn-lg btn-primary mt-3">Abonnez-vous</a>

						</div>
					</div>

					<div class="row p-4 text-center">
						<div class="col">
							<img src="images/circular-arrows.png" class="brand-value mb-4" alt="">
							<h6>Automatique</h6>
						</div>
						<div class="col">
							<img src="images/shield.png" class="brand-value mb-4" alt="">
							<h6>Sécurisé</h6>
						</div>
					</div>

					{# Card info badge #}
					<div class="row p-4">
						<h2 class="h4 mb-4 text-center">Automatique & Sécurisé avec le badge Park-It</h2>
						<p>Nous travaillons en partenariat avec TagMaster pour fournir un contrôle d’accès au stationnement et à la sécurité des véhicules sont conçus pour offrir un accès rapide, une facilité d’utilisation.</p>
						<p>Les produits RFID, basés sur la technologie d'identification automatique des véhicules (AVI), permettent un accès spécifique à un véhicule ainsi que des entrées et des sorties plus efficaces, renforçant ainsi la sécurité.</p>
						<p>Vous connaissez probablement ce sentiment : vous arrivez au parking, vous possédez un badge d’accès parking mais n'arrivez pas à mettre la main dessus. C'est ennuyeux. Pour éviter ce problème, nous vous donnons le choix entre un badge parking adhésif ou un badge accroche rétroviseur.</p>


					</div>
				</div>


			</div>

			{# Col infos tarifs #}
			<div class="col-lg-4 col-sm-12 mb-4">

				<div class="card shadow-lg mb-4">

					<div class="card-header p-4">
						<h2 class="h4 card-title font-weight-bold text-primary">
							Tarifs parking
						</h2>
					</div>

					<div class="card-body">
						<div class="container">
							<div class="card shadow-sm">

								<table class="table table-striped table-hover table-sm m-0">
									<thead>
										<tr>
											<th scope="col">Durée</th>
											<th scope="col">Prix</th>
										</tr>
									</thead>
									<tbody>

										{% for tarif in tarifs %}
											<tr>
												<th scope="row">{{ tarif.duration|date('H:i:s') }}</th>
												<td>{{ tarif.price|number_format(2) }}€</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
{% endblock %}
