{% extends 'base.html.twig' %}

{% block title %}Parkit - Termes et conditions d'utilisation{% endblock %}

{% block body %}

<div class="container p-4">
    <div class="card shadow lg">
        <div class="p-4">
            <h1>Termes et conditions d'utilisation</h1>

            <hr>

            <b>Propriété intellectuelle</b>
            <p>Tout contenu publié et mis à disposition sur ce site est la propriété de Park-It et de ses créateurs. Cela comprend, mais n'est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.</p>

            <b>Comptes</b>
            <p>Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit : </p>
            <ul>
                <li>1 : que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte, et </li>
                <li>2 : que tous les renseignements personnels que vous nous fournissez par l'entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s'ils changent.</li>
            </ul>
            <p>Nous nous réservons le droit de suspendre ou de résiliez votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d'utilisation acceptable.</p>

            <b>Ventes des biens et services</b>
            <p>Ce document régit la vente des biens mis à disposition sur notre site. 
            <br>
            Les biens que nous offrons comprennent : 
            <ul>
                <li>Badge pour parking</li>
            </ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aut officia, explicabo ab, quos quae consectetur vitae placeat, sed nostrum nemo debitis saepe maxime dolorem. Ipsum cupiditate modi harum vitae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, eveniet, perspiciatis quae ab, rerum doloribus consequuntur temporibus praesentium aliquam fuga assumenda ratione modi. Ipsum commodi distinctio velit a voluptatibus suscipit!</p>

            <b>Paiements</b>
            <p>Nous acceptons les modes de paiements suivants sur ce site : <br>
            <ul>
                <li>Carte bancaire</li>
                <li>PayPal</li>
                <li>Prélèvement automatique</li>
            </ul>
            
            Lorsque vous nous fournissez vos renseignements de paiements, vous nous confirmez que vous avez autorisé l'utilisation et l'accès à l'instrument de paiement que vous avez choisi d'utilisez. En nous fournissant vos détails de paiement, vous confirmez que vous nous autorisez à facturer le montant dû à cet instrument de paiement. 
            <br>
            Si nous estimons que votre paiemement a violé une loi ou l'une de nos condition d'utilisation nous nous réservons le droit d'annuler votre transction.</p>

            <p>Abonnements</p>

            <p>Tous nos abonnements récurrents seront autoamtiquement facturés et renouvelés jusqu'à ce que nous recevions d'avis que vous souhaitez annuler l'abonnement</p>

            <b>Transport et livraison</b>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique consequatur provident et necessitatibus quas sit doloribus totam optio ducimus commodi quisquam eaque veritatis minima, dignissimos aut rem. Iure, deserunt molestiae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident culpa dolorem natus dignissimos ipsam reprehenderit, voluptas non temporibus pariatur cupiditate esse dolor saepe. Illo corporis aut mollitia nemo debitis culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nostrum voluptatum pariatur illum nisi voluptatibus molestiae incidunt minus eius magnam natus delectus! Ex nobis accusantium sequi, facere perspiciatis quo nihil.</p>

            <b>Limite de responsabilité</b>
            <p>Park-it ou l'un de ses employés sera tenu responsable de tout problème découlant de ce site. Néomains, Park-It et ses employes ne seront pas tenus responsable de tout problème découlant de toute utilisation irrégulière de ce site.</p>

            <b>Indemnité</b>
            <p>En tant qu'utilisateur, vous indemnisez par les présentes Park-It de toute responsabilité, de tout coût, de toute cause d'action, de tout dommage ou de toute dépense découlant de votre utilisation de ce site ou de votre violation de l'une des dispositions énoncées dans le présent document.</p>

            <b>Lois applicables</b>
            <p>Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires. Cela inclut la réglementation à l'échelle de l'UE énoncée dans le RGPD.</p>

            <b>Divisibilité</b>
            <p>Si, à tout moment, l'une des dispositions énoncées dans le présent document est jugée incompatible ou invalide en vertu des lois applicables, ces dispoisitions seont considérées comme nulles et seront retirées du présent document. Toutes les autres dispositions ne seront pas touchées par les lois et le reste du document sera toujours considéré comme valide.</p>

            <b>Modifications</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fugit animi laboriosam doloremque voluptate adipisci nulla temporibus tempora, excepturi ex! Soluta consequatur error at enim porro nemo odio temporibus accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cumque hic cupiditate tenetur aliquam iure voluptas ipsam alias quis, quidem facilis, officiis nihil provident praesentium nobis obcaecati dignissimos fugit accusamus!</p>

            <b>Contact</b>
            <p>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes :</p>

            <ul>
                <li>Téléphone : +33 6 33 33 33 33</li>
                <li>Mail : contact@parkit.fr</li>
                <li>Adresse : Montpellier, 34000 FR</li>
            </ul>


            <p>Date d'entrée en vigeur : le 30 Juin 2021.</p>
        </div>
    </div>
</div>

{% endblock %}