{% extends 'base.html.twig' %}

{% block title %}Simulation{% endblock %}

{% block body %}

<div class="container">

    <h1>Bonjour !</h1>
    {% for carpark in carparks %}

    {% endfor %}
    
    {% for parking in parkings %}
        
    {% endfor %}
</div>

{% endblock %}
