{% extends 'base.html.twig' %}

{% block title %}Parkit - Parking{% endblock %}

{% block body %}


<style>
#mapid { height: 600px; width:100% }
</style>




    <div id="mapid"></div>


{% endblock %}
