$primary: #3e92cc;
$secondary: #6eacd8;
$dark: #435b6c;
$light: #f5f5f5;
@import "~bootstrap/scss/bootstrap";
@import "./main";
@import "./welcome";
@import "./user";

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}