nav {
  .nav-logo {
    width: 52px;
  }

  .nav-title {
    font-size: 1.8rem;
  }

  .nav-user {
    width: 52px;
  }

  .nav-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dropdown-menu {
    position: absolute;
    right: 32px;
  }
}
