$margin-nav-links: 20px;

* {
  font-family: "Roboto";
}

body {
  background-color: #f1f1f1f1;
  margin-top: 82px;
  main {
    min-height: 60vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

label.required:before {
  content: "*";
  color: $primary;
}

.asterisk {
  color: $primary;
}

.fas {
  width: 16px !important;
  height: 16px !important;
  margin-right: 12px;
  color: $dark;
}

header {
  nav {
    .nav-logo {
      width: 52px;
    }

    .nav-title {
      font-size: 1.8rem;
    }

    .nav-user {
      width: 52px;
    }

    .nav-link {
      margin-left: $margin-nav-links;
      margin-right: $margin-nav-links;
      color: $light !important;
      transition: ease-in 0.2s;
      border-radius: 5%;

    }

    .nav-link:hover {
      transition: ease-out 0.2s;
      transform: translatey(-2px);
      color: $secondary !important;
      background-color: $light;
      box-shadow: -4px 4px 0px $primary;
    }

    .dropdown-menu {
      position: absolute !important;
      right: 42px;
    }

    .fa-dropdown {
      color: $light;
      position: absolute;
      right: 28px;
      bottom: -14.8px;
    }
  }
}

footer {
  .footer-logo {
    width: 80px;
  }
}

.btn-custom {
  width: 200px;
  height: 60px;
  color: $light;
  font-weight: 600;
  font-size: 22px;
  background-color: $primary;
  box-shadow: -4px 6px 0px $secondary;
  border-radius: 5px;
  text-decoration: none;
  transition: ease-out 0.5s;
}
.btn-custom:hover {
  background-color: $light;
  transition: ease-in 0.4s;
  box-shadow: 0px 0px 0px $primary;
  border: 1px solid $secondary;
  transform: translateY(4px);
}
