$margin-nav-links: 20px;

* {
  font-family: "Roboto";
}

body {
  background-color: #f1f1f1f1;
  margin-top: 82px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

label.required:before {
  content: "*";
  color: $primary;
}

.asterisk {
  color: $primary;
}

.fas {
  width: 16px !important;
  height: 16px !important;
  margin-right: 12px;
  color: $dark;
}

header {
  nav {
    .nav-logo {
      width: 52px;
    }

    .nav-title {
      font-size: 1.8rem;
    }

    .nav-user {
      width: 52px;
    }

    .nav-link {
      margin-left: $margin-nav-links;
      margin-right: $margin-nav-links;
    }

    .dropdown-menu {
      position: absolute !important;
      right: 42px;
    }

    .fa-dropdown {
      color: $light;
      position: absolute;
      right: 28px;
      bottom: -14.8px;
    }
  }
}

footer {
  .footer-logo {
    width: 80px;
  }
}

.btn-custom {
  width: 200px;
  height: 60px;
  color: $light;
  font-weight: 600;
  font-size: 22px;
  background-color: $primary;
  box-shadow: -6px 6px 0px $secondary;
  border-radius: 5px;

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn-custom:hover span {
    padding-right: 25px;
  }

  .btn-custom:hover span:after {
    opacity: 1;
    right: 0;
  }
}
