$margin-nav-links: 20px;

nav {
  .nav-logo {
    width: 52px;
  }

  .nav-title {
    font-size: 1.8rem;
  }

  .nav-user {
    width: 52px;
  }

  .nav-link {
    margin-left: $margin-nav-links;
    margin-right: $margin-nav-links;
  }

  .dropdown-menu {
    position: absolute;
    right: 32px;
  }
}

footer {
  .footer-logo {
    width: 80px;
  }
}