{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}

<div class="container">

    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>User : {{ user.name }} </h2>
    
</div>

{% endblock %}
