{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}

<div class="container">

    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>User : {{ user.client.name }} </h2>
    <h3>Factures :</h3>
    {% for carpark in carparks %}
    <p>{{ carpark }}</p>
    {% endfor %}
    
</div>

{% endblock %}
