<footer>
	<div class="navbar navbar-dark bg-dark text-light justify-content-center">
		<div class="row m-0 p-4 d-flex justify-content-center align-items-start">

			<div class="col-4">
				<h3>Park-It</h3>
				<h4>Garez-vous façilement !</h4>
			</div>
			<div class="col-4 text-center">
				<a href="{{ path('welcome') }}">
					<img src="/images/logo.png" class="footer-logo mx-2" alt="">
				</a>
			</div>
			<div class="col-4 text-end">
				<p>Adresse : Montpellier, 34000 FR
					<br>
					Tel : +33 6 33 33 33 33
					<br>
					Fix : +33 6 33 33 33 33
					<br>
					Mail : contact@parkit.fr
				</p>
			</div>

			<div class="row">

				<div class="col-8">
					<ul class="list-inline">
						<li href="" class="list-inline-item">
							<a href="{{ path('termes') }}">Termes et conditions d'utilisation</a>
						</li>
						<li class="list-inline-item">
							<a href="{{ path('confidentialites') }}">Politique de confidentialité et de cookie</a>
						</li>
						<li class="list-inline-item">
							<a href="">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-4 text-end">
					<a href="{{ path('app_login') }}" class="btn btn-primary text-light">Abonnez-vous</a>
				</div>

			</div>

		</div>
	</div>
</footer>
