{% extends 'base.html.twig' %}

{% block title %}
Page non trouvée
{% endblock %}

{% block body %}

<div class="container p-4">
    <div class="card shadow lg">
        <div class="p-4">
            <h1>Page non trouvée</h1>
            <p>Il semblerait que la route que vous cherchez n'existe pas</p>
            <p>Retrouvez votre chemin par <a href="{{ path('welcome') }}">ici</a>!</p>
            <p>Code de l'erreur : {{ status_code }} {{ status_text }}</p>
        </div>
    </div>
</div>
{% endblock %}