{% extends 'base.html.twig' %}

{% block title %}
Accès interdit
{% endblock %}

{% block body %}

<div class="container p-4">
    <div class="card shadow lg">
        <div class="p-4">
            <h1>Accès interdit</h1>
            <p>Code de l'erreur : {{ status_code }} {{ status_text }}</p>
            <p>Il semble que vous ête sortie de votre route !</p>
            <div class="col d-flex justify-content-start mb-3">
                        <a href="{{ path('welcome') }}" class="btn btn-outline-primary">Revenir à l'accueil</a>
                    </div>
        </div>
    </div>
</div>
{% endblock %}